---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
  
  <p> [11] <strong>Liang, Y.</strong>, Xie, S.P., Fedorov, A. and Yeager, S.G., (2025). North Pacific meridional mode has larger impacts on El Niño evolution than the March Madden-Julian Oscillation. Sci. Adv., 11(37), p.eadv8621. 
    DOI: <a href="https://doi.org/10.1126/sciadv.adv8621">10.1126/sciadv.adv8621</a>

  <p> [10] Xie, S.P., Miyamoto, A., Zhang, P., Kosaka, Y., <strong>Liang, Y.</strong> and Lutsko, N.J., (2025). What made 2023 and 2024 the hottest years in a row?. npj Clim. Atmos. Sci., 8(1), p.117.
    DOI: <a href="https://doi.org/10.1038/s41612-025-01006-y">10.1038/s41612-025-01006-y</a>

  <p> [9] <strong>Liang, Y.</strong>, Xie, S., Zhang, H. (2024). An intrinsic low-frequency atmospheric mode of the Indonesian-Australian summer monsoon. npj Clim. Atmos. Sci., 7(1), 240. 
    DOI: <a href="https://doi.org/10.1038/s41612-024-00792-1">10.1038/s41612-024-00792-1</a>

  <p> [8] <strong>Liang, Y.</strong>, Fedorov, A.V. (2024). Stronger westerly wind bursts in a warming Climate: the effects of the Pacific warming pattern, the Madden-Julian Oscillation and tropical cyclones. J. Climate., 37(22), pp.6029-6045.
    DOI: <a href="https://doi.org/10.1175/JCLI-D-23-0681.1">10.1175/JCLI-D-23-0681.1</a>
    
  <p> [7] Haertel, P., <strong>Liang, Y.</strong> (2024). Potential strengthening of the Madden-Julian Oscillation modulation of tropical cyclogenesis. Atmosphere, 15(6), 655.
    DOI: <a href="https://doi.org/10.3390/atmos15060655">110.3390/atmos15060655</a>

  <p> [6] <strong>Liang, Y.</strong>, Fedorov, A. V. (2022). Excitation of the Madden-Julian Oscillation in response to transient ocean warming in Super-Parameterized CAM. Geophys. Res. Lett., e2022GL100853.
    DOI: <a href="https://doi.org/10.1029/2022GL100853">10.1029/2022GL100853</a>

  <p> [5] Carpenter, J. R., <strong>Liang, Y.</strong>, Timmermans, M. & Heifetz E. (2022). Physical mechanisms of the linear stabilization of convection by rotation. Phys. Rev. Fluids, 7(8), p.083501.
    DOI: <a href="https://doi.org/10.1103/PhysRevFluids.7.083501">10.1103/PhysRevFluids.7.083501</a>

  <p> [4] <strong>Liang, Y.</strong>, Carpenter, J. R., & Timmermans, M. (2021). The effect of rotation on double diffusive convection: perspectives from linear stability analysis. J. Phys. Oceanogr., 51(11), 3335-3346.    
    DOI: <a href="https://doi.org/10.1175/JPO-D-21-0060.1">10.1175/JPO-D-21-0060.1</a>

  <p> [3] <strong>Liang, Y.</strong>, Fedorov, A. V., Zeitlin, V., & Haertel, P. (2021). Excitation of the Madden-Julian Oscillation in atmospheric adjustment to equatorial heating. J. Atmos. Sci., 78(12), 3933-3950. 
    DOI: <a href="https://doi.org/10.1175/JAS-D-21-0092.1">10.1175/JAS-D-21-0092.1</a>

  <p> [2] <strong>Liang, Y.</strong>, Fedorov, A. V., & Haertel, P. (2021). Intensification of westerly wind bursts caused by the coupling of the Madden-Julian Oscillation to SST during El Niño onset and development. Geophys. Res. Lett., 48, e2020GL089395. 
    DOI: <a href=" https://doi.org/10.1029/2020GL089395">10.1029/2020GL089395</a>

  <p> [1] <strong>Liang, Y.</strong>, Fedorov, A.V. (2021). Linking the Madden–Julian Oscillation, tropical cyclones and westerly wind bursts as part of El Niño development. Clim. Dyn., 57, 1039–1060. 
    DOI: <a href="https://doi.org/10.1007/s00382-021-05757-1">110.1007/s00382-021-05757-1</a>

<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->


